aside{
    grid-area: aside;
    background-color: #6da1197c;
}
aside p {
    font-family: 'Montserrat', sans-serif;
}
aside h2, aside p{
    color: white;
    padding: 0 15px;
}
aside h2{
    text-align: center;
}
aside ul{
    list-style-image: url("../imagens/nuvem.png");
}
aside ul li {
    color: white;

}
body{
    display: grid;
    cursor: url("../imagens/kunai.png"), default;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 8vh 50vh 70vh 10vh;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}
body::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
footer{
    grid-area: footer;
}
footer img{
    width: 5vw;
}
header{
    background-image: url("../imagens/akatsuki.jpg");
    background-size: cover;
    grid-area: header;
}
nav{
    align-items: center;
    background-color:#4d5d35 ; 
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}
nav > img { /*PEGA IMAGENS QUYE SAO APENAS FILHOS DIRETOS (NAO NETOS ETC)*/ 
    width: 50px;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
}
nav a:hover {
    color: #bb2127;
    cursor: url("../imagens/kunai.png"), default;
}
section{
    grid-area: section;
}
section div{
    display: flex;
    justify-content: center;
}
section h2{
    margin:0;
    text-align: center;
}
section input:focus{
    background-color: black;    
}
section input::placeholder{
    color: green;
}